REQUIRED_CHANNEL=@remixm2
REQUIRED_CHANNEL_LINK=https://t.me/remixm2
TELEGRAM_API_HASH=3993838fa31ed8f0bc24c8fc109dfd5f
TELEGRAM_API_ID=32151201
TELEGRAM_BOT_TOKEN=8677117204:AAEKyb2Psqhh7zqKFYaz0KPoKZcgD2BZ5m0
DATABASE_URL=postgresql://postgres:pbnTVqZgBENvajjxbjCIYFNnqsBclhMZ@altaria.proxy.rlwy.net:51546/railway
